DATABASE_URL=postgresql://postgres:postgres@localhost:5432/product_management
JWT_SECRET=supersecretkey
JWT_REFRESH_SECRET=superrefreshsecretkey
REDIS_HOST=localhost
REDIS_PORT=6379
RABBITMQ_URL=amqp://localhost:5672
ELASTICSEARCH_URL=http://localhost:9200
PORT=3000
